Hi, {{current_user}} 
		(<a href="#" v-on="click: logout">logout</a>)
		(<a href="#" v-on="click: details">Details</a>)
		<br><br>
<div class="row">
	<div class="large-4 columns">
		

		<div class="column-header">How much did you pay?</div> <br><br><br>
		<input type="text" v-model="amount" placeholder="amount paid">
	</div>

	<div class="large-4 columns">
		<div class="column-header">How much did you spend per person? </div> <br>

		abhishek: <input type="text" v-model="paidTo.abhishek">
		akhil: <input type="text" v-model="paidTo.akhil">
		jatin: <input type="text" v-model="paidTo.jatin">
		ankita: <input type="text" v-model="paidTo.ankita">
		
		
		<div class="row recipe" v-show="trio">
			<div class="large-12 columns">
				<br>
				<p><em>- now you can use recipes to auto-split -</em></p>
				<span data-tooltip class="has-tip" title="{{recipeMsg}}">Recipe: </span>
				<a href="#" v-on="click: threeWaySplit"><p>3 way equal split between abhishek/jatin/akhil.</p></a>	
			</div>
		</div>
		
	</div>

	<div class="large-4 columns">
		<div class="column-header">Why did you pay?</div> <br><br><br>
		
		<input type="text" v-model="reason | reasonValidator">
		<small class="err" v-show="!validation.reason">Reason cannot be empty.</small>
	</div>
	
</div>
<br><br>
<center>
<a href="#" class="button tiny" v-on="click: submit">Sumbit</button>
</center>	



