<!DOCTYPE html>
<html lang="en">
<head>
    <title>js</title>
    <link rel="stylesheet" media="screen" href="/assets/css/bootstrap.css"/>
    <link rel="stylesheet" media="screen" href="/assets/css/master.css"/>
    <style>
        .hero-unit{
            background-color: red;
        }
        .hero-unit h1 {
            font-size: 500px;
        }
        .hero-unit h1 a:hover{
            text-decoration: none;
            color: inherit;
        }
        .blue {color: blue;} 
        .pink{color: pink;} 
        .orange{color: orange;} 
        .green{color: green;} 
        .yellow{color: yellow;}
    </style>
</head>

<body>
    <div class="container"> 
    
        <div class="hero-unit">
            {% include header.html %}
        </div>

        <div id="content">
            {{ content }}
        </div>

    </div>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        var colors = ['yellow', 'blue','pink','orange','green'];
        var i = 0, j = 0
        var h = $('.hero-unit h1 a');
        var body = $('body');
        (function lights(){
            j = i;
            i++;
            if(i == 5) {
                i = 0;
            }
            h.removeClass(colors[j]).addClass(colors[i]);
            body.removeClass(colors[j]).addClass(colors[i]);
            window.setTimeout(lights, 700);
        })();
    </script>
</body>
</html>
